<!--  views/partials/footer.ejs - Client Side Footer  -->

        <div class="footer-space-top"></div>

        <button class="footer-top-button">&#9650;</button>

        <div class="container-footer container-2-banner footer-banner">
            <div class="col-1">
                <p>
                    &copy; Copyright 2023 MyWebsite. All rights reserved.
                    <br>Email: contact@email.com
                    <br>Phone: 0123 456 7890
                    <br>Address: Business Name, 123 Fake Street, City, AB4 5CD.
                </p>
            </div>

            <div class="col-2">
                <div class="item-right">
                    <p class="text-left">
                        <a href="/login"><u>Login</u></a>
                        <br>
                        <br>
                        Registered Business 12345678.
                        <br>
                        Some extra information can go here...
                    </p>
                </div>
            </div>
        </div>

        <script src="scripts/script.js"></script>
    </body>
</html>
