<!--  views/partials/header-info-widget.ejs - Client Side Information Widget  -->

    <a href="https://www.facebook.com/" target="_blank">
        <img class="header-social-icons header-icons-spacing-r" src="assets/images/facebook-icon.png" alt="Facebook">
    </a>
    <a href="https://www.instagram.com/" target="_blank">
        <img class="header-social-icons header-icons-spacing-r" src="assets/images/instagram-icon.png" alt="Instagram">
    </a>
    <a href="https://twitter.com/" target="_blank">
        <img class="header-social-icons" src="assets/images/twitter-icon.png" alt="Twitter">
    </a>
    <br>
    <br>
    <a href="tel:01234567890" target="_blank">
        <img class="header-contact-icons" src="assets/images/telephone-icon.png" alt="Phone">
        <br><nav class="header-contact-text">0123 456 7890</nav>
    </a>
    <br>
    <a href="mailto:contact@email.com" target="_blank" id="sticky-content-trigger">
        <img class="header-contact-icons" src="assets/images/email-icon.png" alt="Email">
        <br><nav class="header-contact-text">contact@email.com</nav>
    </a>
    <br>
    <nav class="header-feedback-button">
        <a href="https://docs.google.com/spreadsheets/" target="_blank">&nbsp;&#128227;&nbsp;&nbsp;Feedback&nbsp;</a>
    </nav>